html, body
{
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.center-card
{
    margin: 0 auto;
    max-width: 500px;
}

.mdl-layout__tab-bar-container 
{
    height: 64px;
}

.mdl-layout__tab-bar .mdl-layout__tab 
{
    height: 64px;
    line-height: 64px;
}

.mdl-layout__tab-bar-button
{
    display: none;
}

.mdl-layout__tab-panel 
{
    padding: 48px 8px;
}