<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} - symptom.space</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block styles %}{% endblock %}
</head>
<style>
    .centered-container
    {
        max-width: 40rem;
        margin: 0 auto;
        padding: 0 1rem;
    }

    main.mdl-layout__content {
    	display: flex !important;
		  justify-content: center;
		  align-items: center;
    }
</style>
<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>symptom.space</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="/" class="mdl-layout__tab {% if active == 'home' %} is-active{% endif %}">Home</a>
          <a href="/dashboard" class="mdl-layout__tab {% if active == 'dashboard' %} is-active{% endif %}">Dashboard</a>
          {% if active == 'survey'%}<a href="/dashboard" class="mdl-layout__tab is-active">Dashboard</a>{% endif %}
          <a href="/user" class="mdl-layout__tab{% if active == 'profile' %} is-active{% endif %}">Profile</a>
          {% if is_scanner %}<a href="/scan" class="mdl-layout__tab{% if active == 'scan' %} is-active{% endif %}">Scan</a>{% endif %}
          {% if is_admin %}<a href="/user/all" class="mdl-layout__tab{% if active == 'users' %} is-active{% endif %}">Users</a>{% endif %}
          {% if is_admin %}<a href="/location" class="mdl-layout__tab{% if active == 'locations' %} is-active{% endif %}">Locations</a>{% endif %}
          {% if is_admin %}<a href="/map" class="mdl-layout__tab{% if active == 'map' %} is-active{% endif %}">Map</a>{% endif %}
          {% if logged_in %}<a href="/logout" class="mdl-layout__tab">Logout</a>
          {% else %}<a href="/login" class="mdl-layout__tab">Login</a>{% endif %}
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
            <div class="centered-container">
              {% block content %}
                <p>Welcome to symptom.space! This is a demo project for HackDavis 2021! Do your symptom survey here.</p>
                {% if logged_in %}<a href="/dashboard" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Go to Dashboard</a>
                {% else %}<a href="/login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</a>{% endif %}
                {% if is_scanner %}<a href="/scan" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Go to Scanner</a>{% endif %}
              {% endblock %}
            </div>
        </div>
      </main>
      <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--middle-section">
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Essential Resources</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="https://hem.ucdavis.edu/appointments_home.aspx"> Schedule your COVID Test</a></li>
                <li><a href="https://studentaffairs.ucdavis.edu/news/uc-davis-life-updates-january-2021">Access CalFresh</a></li>
                <li>UCD Mental Health Services: (530)752-0871</li>
                <li>Remember: you are always worth caring for</li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Features</h1>
              <ul class="mdl-mega-footer--link-list">
                <li>Ashley Bilbery</li>
                <li>Karim Abou Najm</li>
                <li>Ian Chuang</li>
                <li>Sarah Yunair</li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Developers</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="https://github.com/AshleyBilbrey/symptomspace">Source Code</a></li>
              </ul>
            </div>            
          </div>
          <div class="mdl-mega-footer--bottom-section">
            <div class="mdl-logo">
                HackDavis 2021
            </div>
          </div>
      </footer>
    </div>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
