{% extends "index.html" %}

{% block title %}Scanner{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='scan_neutral.css') }}">
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scan_neutral.js') }}"></script>
{% endblock %}

{% block content %}

<div>
  <video id="video" style="border: 1px solid gray"></video>
</div>

<br>

<div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="startButton">
    Start
  </button>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="resetButton">
    Reset
  </button>
</div>
  
  <br>

  <p>Name: <span id="name"></span></p>
  <p>Status: <span id="status"></span></p>

<div>
  <label for="sourceSelect">Change video source:</label>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="sourceSelectPanel">
    <select id="sourceSelect" class="mdl-textfield__input">
    </select>
  </div>
</div>

<div>
  <label for="recordType" >Location: </label>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <select id="recordType" class="mdl-textfield__input" size="1">
          <option value="tercero_dining_hall">Tercero Dining Hall</option>
          <option value="memorial_union">Memorial Union</option>
          <option value="latitude">Latitude</option>
      </select>
  </div>
</div>

<br>

<label>Result:</label>
<pre><code id="result"></code></pre>


<audio id="accept" src="{{ url_for('static', filename='audio/accept.mp3') }}" preload="auto" controls="none" style="display: none;"></audio>
<audio id="reject" src="{{ url_for('static', filename='audio/reject.mp3') }}" preload="auto" controls="none" style="display: none;"></audio>

{% endblock %}

