<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You've Been Approved!</title>
    <script src="motQuotes.js"></script>
</head>


<body>
<h1>symptom.space</h1>

<form action="/action_page.php" id="vacQ">
	<p>Have you received a flu vaccination after August 1, 2020?
OR Do you have an approved exemption from the flu vaccination mandate that allows you to come on campus?
(May be subject to verification):</p>

  <input type="radio" id="fluVacP" name="fluVacP" value="flueVac">
  <label for="vehicle1"> Yes</label><br>

  <input type="radio" id="flueVacN" name="fluVacN" value="flueVac">
  <label for="vehicle2"> No</label><br>


  <p>Have you participated in COVID-19 testing within the past seven days?
OR Do you have an appointment for COVID-19 testing today?   
OR Have you been directed by a campus healthcare official to discontinue testing at this time?
(May be subject to verification):</p>


  <input type="radio" id="testCovMet" name="testCovMet" value="testCov">
  <label for="vehicle1"> Yes</label><br>

  <input type="radio" id="testCovFai" name="testCovMet" value="testCov">
  <label for="vehicle2"> No</label><br>

  <input type="radio" id="noAcc" name="testCovNul" value="testCov">
  <label for="vehicle2"> I am not accessing a UC Davis facility inside Yolo County</label><br>

  <p>Please check all symptoms present in the past 24 hours:
All options, except the first (Fever), describe symptoms that are new and not from a known or chronic condition.</p>

  <input type="checkbox" id="symServ1" name="symSurvey" value="testCov">
  <label for="vehicle1"> Fever (> 100.4°F/38°C)</label><br>

  <input type="checkbox" id="symServ2" name="symSurvey" value="testCov">
  <label for="vehicle2"> Chills or Shaking</label><br>

  <input type="checkbox" id="symServ3" name="symSurvey" value="testCov">
  <label for="vehicle2"> Cough</label><br>

  <input type="checkbox" id="symServ4" name="symSurvey" value="testCov">
  <label for="vehicle2"> Shortness of Breath/Difficult Breathing</label><br>

  <input type="checkbox" id="symServ5" name="symSurvey" value="testCov">
  <label for="vehicle2"> Loss of Taste or Smell</label><br>

  <input type="checkbox" id="symServ6" name="symSurvey" value="testCov">
  <label for="vehicle2"> Sore Throat</label><br>

  <input type="checkbox" id="symServ7" name="symSurvey" value="testCov">
  <label for="vehicle2"> Runny Nose/Sinus Congestion</label><br>

  <input type="checkbox" id="symServ8" name="symSurvey" value="testCov">
  <label for="vehicle2"> Diarrhea</label><br>

  <input type="checkbox" id="symServ9" name="symSurvey" value="testCov">
  <label for="vehicle2"> Muscle Pains/Body Aches</label><br>

  <input type="checkbox" id="symServ10" name="symSurvey" value="testCov">
  <label for="vehicle2"> Headache</label><br>

  <input type="checkbox" id="symServ11" name="symSurvey" value="testCov">
  <label for="vehicle2"> Unusual Fatigue</label><br>

  <input type="checkbox" id="symServ12" name="symSurvey" value="testCov">
  <label for="vehicle2"> Eye Redness with or without Discharge</label><br>

  <input type="checkbox" id="symServ13" name="symSurvey" value="testCov">
  <label for="vehicle2"> Nausea or Vomiting</label><br>

  <input type="checkbox" id="symServTrue" name="symSurvey" value="testCov">
  <label for="vehicle2"> None of the Above</label><br>


  <p>Have you tested positive for COVID-19 within the past 10 days?</p>
  <input type="radio" id="testTrue" name="covidTest" value="testCov">
  <label for="vehicle1"> Yes</label><br>

  <input type="radio" id="testFalse" name="covidTest" value="testCov">
  <label for="vehicle2"> No</label><br>


 <p>Have you been in Close Contact with a COVID-19 Positive person within the past 10 days
Close Contact is defined as closer than 6 feet for greater than 15 minutes</p>
  <input type="radio" id="contactTrue" name="testContact" value="testCov">
  <label for="vehicle1"> Yes</label><br>

  <input type="radio" id="contactFalse" name="testContact" value="testCov">
  <label for="vehicle2"> No</label><br>


<p>To the best of my ability, I certify answers to the preceding questions are true and correct.</p>
  <input type="radio" id="certi" name="finalQuest" value="testCov">
  <label for="vehicle1"> Yes</label><br>

 
  <input type="submit" value="Submit">

</form>

</body>

</html>
