{% extends "index.html" %}

{% block title %}Dashboard{% endblock %}

{% block logout_display %}block{% endblock %}

{% block content %}
    <h5>User Info</h5>
    <ul class="demo-list-icon mdl-list">
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">face</i>
        {{ name }}
    </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">email</i>
        {{ email }}
      </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">phone</i>
        {{ phonenumber }}
      </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">group</i>
        {{ affiliate }}
      </span>
      </li>
    </ul>
    <a href="/user/update" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Update Info</a> 
{% endblock %}



<!DOCTYPE html>
<html>
<body>
    User info:<br>
    Phone Number:<br>
    {{ phonenumber }}<br>
    Name:<br>
    {{ name }}<br>
    Email:<br>
    {{ email }}<br>
    Affiliate:<br>
    {{ affiliate }}<br>
    <a href="/user/update">Update Info</a>
</body>
</html>


<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">User Info</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Name:</td>
          <td>{{ name }}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Email:</td>
          <td>{{ email }}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Phone Number:</td>
          <td>{{ phonenumber }}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Affiliate:</td>
          <td>{{ affiliate }}</td>
        </tr>
      </tbody>
    </table>