<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Info</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
        <main class="mdl-layout__content">
            <div class="mdl-card mdl-shadow--6dp">
                <form action="/user/update" method="POST">
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                        <h2 class="mdl-card__title-text">symptom.space</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Update {{ phonenumber }}</p>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="full-name" name="full-name" value="{{ name }}">
                            <label class="mdl-textfield__label" for="full-name">Full Name:</label>
                        </div>


                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="email" name="email" value="{{ email }}">
                            <label class="mdl-textfield__label" for="email">Email (UCD Preferred):</label>
                        </div>

                          <label for="af-status"></label>
                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                              <select class="mdl-textfield__input" name="af-status" id="af-status" required>
                                    <option value="">Affiliate Status: </option>

                                    <option value="Student" {% if affiliate == 'Student' %}selected{% endif %}>UC Davis Student</option>
                                    <option value="Employee" {% if affiliate == 'Employee' %}selected{% endif %}>UC Davis Employee</option>
                                    <option value="Guest" {% if affiliate == 'Guest' %}selected{% endif %}>Guest</option>
                              </select>
                          </div>
                          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="is-scanner">
                              <input type="checkbox" class="mdl-checkbox__input" id="is-scanner" name="is-scanner" value="yes"{% if scanner == True %}checked{% endif %}></input>
                              <span class="mdl-checkbox__label"> Make Scanner</span>
                          </label>

                          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="is-admin">
                              <input type="checkbox" class="mdl-checkbox__input" id="is-admin" name="is-admin" value="yes"{% if admin == True %}checked{% endif %}></input>
                              <span class="mdl-checkbox__label"> Make Admin</span>
                          </label>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                          Submit
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </div>


    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</body>
</html>
